{% extends "base.html" %}
{% block content %}
<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>

<div class="container mt-5">
  <h2 class="text-white mb-4">🎯 Your Personalized Movie Recommendations</h2>

  {% if rec_movies %}
  <div class="row">
    {% for movie in rec_movies %}
    <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4">
      <div class="card h-100 shadow-sm">
        <a href="{{ url_for('movie.movie_detail', movie_id=movie['id']) }}">
          <img src="{{ movie.poster_path and 'https://image.tmdb.org/t/p/w500' ~ movie.poster_path or url_for('static', filename='default-poster.png') }}"
               class="card-img-top" alt="{{ movie.title }} poster">
        </a>
        <div class="card-body">
          <h6 class="card-title">{{ movie.title }}</h6>
          <p class="card-text small">{{ movie.overview[:100] }}{% if movie.overview|length > 100 %}...{% endif %}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-white">You have no recommendations yet. Start searching for movies!</p>
  {% endif %}
</div>
{% endblock %}
